.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/10/70ca4a2e189b001211dcaac6a89de39b
.metadata/.plugins/org.eclipse.core.resources/.history/18/c0bba23a189b001211dcaac6a89de39b
.metadata/.plugins/org.eclipse.core.resources/.history/cb/7041b047189b001211dcaac6a89de39b
.metadata/.plugins/org.eclipse.core.resources/.history/db/f07910d0179b001211dcaac6a89de39b
.metadata/.plugins/org.eclipse.core.resources/.projects/nomad_bot/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/nomad_bot/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/nomad_bot/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.dltk.core/2230897924.index
.metadata/.plugins/org.eclipse.dltk.core/3908909738.index
.metadata/.plugins/org.eclipse.dltk.core/cache/2838196607/2729841376/3.idx
.metadata/.plugins/org.eclipse.dltk.core/cache/index
.metadata/.plugins/org.eclipse.dltk.core/Containers.dat
.metadata/.plugins/org.eclipse.dltk.core/customTimeStamps
.metadata/.plugins/org.eclipse.dltk.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.dltk.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/version.ini
bots/nomad/nomad.bot
bots/nomad/nomad_bot/.buildpath
bots/nomad/nomad_bot/.project
bots/nomad/nomad_main.lua
nomad_bot/.project
.metadata/.lock
